<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Philosophy Forum Archive - About</title>
    <link rel="stylesheet" href="/assets/css/style.css?v={css_version}">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noimageindex">
    <meta name="googlebot" content="noindex, nofollow, noarchive, nosnippet, noimageindex">
    <meta name="bingbot" content="noindex, nofollow, noarchive, nosnippet, noimageindex">
</head>
<body>
    {header_html}
    <main class="discussion-container">

      <h1>TPF Archive</h1>

      <p>This website is an archive containing the content of <strong>thephilosophyforum.com</strong> posted between 2015 and early 2026. When the forum moved to a new platform, the decision was taken not to migrate the content. If anything here interests you, consider signing up on the new site to take part in discussions:</p>

      <br>
      <a id="searchButton" href="https://thephilosophyforum.com">Sign up</a>

    </main>
    {footer_html}
</body>
</html>