<main class="discussion-container">
    <article class="discussion">
        <div class="discussion-header" id="discussion-top">
            <h1>{discussion_title}</h1>
            <div class="discussion-meta">
                <span class="author">{author_name}</span>
                <span class="date">{discussion_date}</span>
                <span class="views">{view_count} views</span>
                <span class="comments">{comment_count} comments</span>
            </div>
        </div>
        
        <div class="discussion-content">
            {discussion_body}
        </div>
    </article>
    
    <section class="comments">
        <h2>Comments ({comment_count})</h2>
        {comments_html}
    </section>
</main>