<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title} - Philosophy Forum Archive</title>
    <link rel="stylesheet" href="/assets/css/style.css?v={cssversion}">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noimageindex">
    <meta name="googlebot" content="noindex, nofollow, noarchive, nosnippet, noimageindex">
    <meta name="bingbot" content="noindex, nofollow, noarchive, nosnippet, noimageindex">
    <meta name="google-site-verification" content="Cfeefjp-d2BiuWwdA9LTdKV0B_HFPhvtQTR7QcdlIxU" />
    {extrahead}
</head>
<body>
    {header}
    {main}
    {footer}
    {extrafoot}
</body>
</html>    