<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title} - Philosophy Forum Archive</title>
    <link rel="canonical" href="{canonicalpath}">
    <link rel="stylesheet" href="/assets/css/style.css?v={cssversion}">
    <meta name="google-site-verification" content="Cfeefjp-d2BiuWwdA9LTdKV0B_HFPhvtQTR7QcdlIxU" />
    {extrahead}
</head>
<body>
    {header}

    <div class="tpf-archive-banner">
        <div class="tpf-archive-banner__text">
            <strong>You are viewing the historical archive of The Philosophy Forum.</strong><br>
            For current discussions, visit the live forum
        </div>

        <a class="tpf-archive-banner__button"
            href="https://thephilosophyforum.com/"
            role="button">
            Go to live forum
        </a>
    </div>

    {main}
    {footer}
    {extrafoot}
</body>
</html>    